.SearchGrid
 {
/*	color: red;
*/	text-align: center;
	max-width: 500px;
	margin: auto;
	/*border: 3px solid black;*/
}

.ResultsGrid {
	width: 100%;
	padding: 10px;
	spacing: 0px;
	border: 2px solid black;
}

.ResultsGrid th {
	background-color: #999;
	border: 1px solid black;
}

.ResultsGrid tr td {
	border: 1px solid grey;
	padding: 10px;
	spacing: 0px;
}